* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #1A1A1D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.home {
    padding: 50px 20px;
    animation: fadeIn 1.5s ease;

}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    background: #36383B;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    gap: 30px;
    animation: slideUp 1.2s ease;

}

.text-content {
    flex: 1;
    min-width: 280px;
    animation: fadeInLeft 1.2s ease;

}

.text-content h1 {
    font-size: 2.9rem;
    margin-bottom: 50px;
    color: white;

}

.text-content p {
    font-size: 1.3rem;
    margin-bottom: 50px;
    color: white;

}

.highlight {
    color: #FF885B;
    font-weight: bold;
    font-size: 1.8rem;

}

button {
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 6px 15px rgba(255, 78, 80, 0.3);
    margin-bottom: 50px;
    transition: all 0.3s ease-in-out;


}

button:hover {
    background: linear-gradient(45deg, #FF5B8A, #FF00FF, #FF885B);
    box-shadow: 0 10px 20px rgba(255, 78, 80, 0.4);
    transform: translateY(-3px);

}

.image-content {
    flex: 1;
    min-width: 280px;
    text-align: center;
    animation: fadeInRight 1.2s ease;


}

.profile-pic {
    max-width: 80%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
}

.profile-pic:hover {
    transform: scale(1.05);

}

.about-section {
    padding: 50px 20px;
}

.header {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    background: #36383B;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    gap: 30px;
    animation: slideDown 1s ease-in-out;
    z-index: 999;
}

.header > img {
    width: 50px;
    height: auto;

}

.header > nav > ul {
    display: flex;
    text-align: center;
    justify-content: center;

}

.header > nav > ul > li {
    list-style: none;
    text-align: center;
    padding: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.header > nav > ul > li > a {
    display: inline-block;
    text-align: center;
    width: 120px;
    color: black;
    text-decoration: none;
    position: relative;
    top: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);
    box-shadow: 2px 2px 2px #FF885B;

}

.header > nav > ul > li > a:hover {
    background: linear-gradient(45deg, #FF5B8A, #FF00FF, #FF885B);
    box-shadow: 2px 2px 2px #FF00FF;
}

.header > nav > ul > li > select {
    display: inline-block;
    text-align: center;
    width: 120px;
    background: transparent;
    color: black;
    text-decoration: none;
    position: relative;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);
    box-shadow: 2px 2px 2px #FF885B;

}

.header > nav > ul > li > select:hover {
    background: linear-gradient(45deg, #FF5B8A, #FF00FF, #FF885B);
    color: black;
    box-shadow: 2px 2px 2px #FF00FF;
}

.header > nav > ul > li > select > option {
    color: black;
    text-decoration: none;
    background: #0B8793;
    font-weight: bold;
    border: none;
    width: 100%;
}

#menu-bar {
    position: absolute;
    right: 2vw;
    top: 4vh;
    display: none;
}

#about {
    position: relative;
    top: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    background: #36383B;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: 80px 40px;
    gap: 30px;
    animation: fadeUp 1.2s ease-in-out;

}

#image-side {
    flex: 1;
    min-width: 300px;
    text-align: center;

}

#image-side > img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 250px;
}


#main-content {
    flex: 1;
    min-width: 280px;

}

#main-content > h2 {
    font-size: 2.1rem;
    margin-bottom: 10px;
    color: white;
}

#main-content > h1 {
    margin-top: 20px;
    font-size: 2.9rem;
    margin-bottom: 20px;
    color: white;
}

#main-content > p {
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: white;
}

#skills {
    display: flex;
    flex-direction: column;

}

.skills-content {
    position: relative;
    top: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    /* background: #36383B;*/
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    /*  gap: 30px;*/
}

.skills-content > div {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    /* width: 80%;*/
    height: 100vh;

}

.skills-content > div > .vertical-line {
    width: 1%;
    border: 1px solid wheat;
    background: wheat;
    border-radius: 15px;

}

.skills-content > div > .java-content,
.skills-content > div > .sql-content,
.skills-content > div > .html-content,
.skills-content > div > .css-content,
.skills-content > div > .js-content,
.skills-content > div > .git-content,
.skills-content > div > .ui-ux-content,
.skills-content > div > .python-content {
    display: flex;
    width: 100%;
    height: 200px;
    position: absolute;
}

.skills-content > div > .java-content {
    top: 0;
    left: 50%;


}

.skills-content > div > .sql-content {
    top: 100px;
    right: 50%;

}

.skills-content > div > .html-content {
    top: 200px;
    left: 50%;

}

.skills-content > div > .css-content {
    top: 300px;
    right: 50%;

}

.skills-content > div > .js-content {
    top: 400px;
    left: 50%;

}

.skills-content > div > .git-content {
    top: 500px;
    right: 50%;

}

.skills-content > div > .ui-ux-content {
    top: 600px;
    left: 50%;

}

.skills-content > div > .python-content {
    top: 700px;
    right: 50%;

}

.skills-content > div > .java-content > .language,
.skills-content > div > .html-content > .language,
.skills-content > div > .js-content > .language,
.skills-content > div > .ui-ux-content > .language {
    position: absolute;
    top: 42%;
    bottom: 10%;
    left: 0;
    width: 200px;
    height: 13%;
    background: gray;
    border-right: none;
    border-radius: 10px 0 0 10px;
    box-shadow: 5px 5px 10px gold;
    animation: fadeInLeft 1.2s ease-in-out;
}

.skills-content > div > .sql-content > .language,
.skills-content > div > .css-content > .language,
.skills-content > div > .git-content > .language,
.skills-content > div > .python-content > .language {
    position: absolute;
    top: 42%;
    bottom: 10%;
    right: 0;
    width: 200px;
    height: 13%;
    background: gray;
    border-left: none;
    border-radius: 0 10px 10px 0;
    box-shadow: 5px 5px 10px gold;
    animation: fadeInRight 1.2s ease-in-out;
}

.skills-content > div > .java-content > .language > p,
.skills-content > div > .sql-content > .language > p,
.skills-content > div > .html-content > .language > p,
.skills-content > div > .css-content > .language > p,
.skills-content > div > .js-content > .language > p,
.skills-content > div > .git-content > .language > p,
.skills-content > div > .ui-ux-content > .language > p,
.skills-content > div > .python-content > .language > p {
    color: black;
    position: relative;
    top: 15%;
    font-size: 18px;
    font-weight: bold;
}

.skills-content > div > .java-content > .arrow-head,
.skills-content > div > .html-content > .arrow-head,
.skills-content > div > .js-content > .arrow-head,
.skills-content > div > .ui-ux-content > .arrow-head {
    position: absolute;
    top: 40%;
    left: 200px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 50px solid gray;
    animation: fadeInLeft 1.2s ease-in-out;

}

.skills-content > div > .sql-content > .arrow-head,
.skills-content > div > .css-content > .arrow-head,
.skills-content > div > .git-content > .arrow-head,
.skills-content > div > .python-content > .arrow-head {
    position: absolute;
    top: 40%;
    right: 200px;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-right: 50px solid gray;
    border-bottom: 17px solid transparent;
    animation: fadeInRight 1.2s ease-in-out;

}

.skills-content > div > .java-content > .outer-circle,
.skills-content > div > .html-content > .outer-circle,
.skills-content > div > .js-content > .outer-circle,
.skills-content > div > .ui-ux-content > .outer-circle {
    position: absolute;
    top: 8%;
    left: 250px;
    width: 150px;
    height: 150px;
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);
    border-radius: 50%;
}

.skills-content > div > .sql-content > .outer-circle,
.skills-content > div > .css-content > .outer-circle,
.skills-content > div > .git-content > .outer-circle,
.skills-content > div > .python-content > .outer-circle {
    position: absolute;
    top: 8%;
    right: 250px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);
}

.skills-content > div > .java-content > .outer-circle > .inner-circle,
.skills-content > div > .sql-content > .outer-circle > .inner-circle,
.skills-content > div > .html-content > .outer-circle > .inner-circle,
.skills-content > div > .css-content > .outer-circle > .inner-circle,
.skills-content > div > .js-content > .outer-circle > .inner-circle,
.skills-content > div > .git-content > .outer-circle > .inner-circle,
.skills-content > div > .ui-ux-content > .outer-circle > .inner-circle,
.skills-content > div > .python-content > .outer-circle > .inner-circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 130px;
    height: 130px;
    background: #1A1A1D;
    border-radius: 50%;
}

.skills-content > div > .java-content > .outer-circle > .inner-circle > img,
.skills-content > div > .sql-content > .outer-circle > .inner-circle > img,
.skills-content > div > .html-content > .outer-circle > .inner-circle > img,
.skills-content > div > .css-content > .outer-circle > .inner-circle > img,
.skills-content > div > .js-content > .outer-circle > .inner-circle > img,
.skills-content > div > .git-content > .outer-circle > .inner-circle > img,
.skills-content > div > .ui-ux-content > .outer-circle > .inner-circle > img,
.skills-content > div > .python-content > .outer-circle > .inner-circle > img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80px;
}

.portfolio-content {
    position: relative;
    top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    background: #36383B;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    gap: 30px;
    animation: slideUp 1.2s ease;
}

.portfolio-content > aside {
    position: relative;
    top: 0;
    left: 0;
    min-width: 300px;
    background: #36383B;
    border-right: 2px solid white;
    border-left: 2px solid white;
    border-radius: 15px;
    animation: fadeInLeft 1s ease-in-out;

}

.portfolio-content > main {
    position: relative;
    top: 0;
    left: 0;
    min-width: 800px;
    animation: fadeInRight 1s ease-in-out;

}

.portfolio-content > aside > h1 {
    text-align: center;
    font-size: 35px;
    color: white;
}

.portfolio-content > aside > ul {
    position: relative;
    text-align: center;

}

.portfolio-content > aside > ul > li {
    position: relative;
    top: 50px;
    padding-bottom: 50px;
    list-style: none;
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
}
.portfolio-content > aside > ul > li:nth-child(1) {
    animation-delay: 0.2s;
}
.portfolio-content > aside > ul > li:nth-child(2) {
    animation-delay: 0.4s;
}
.portfolio-content > aside > ul > li:nth-child(3) {
    animation-delay: 0.6s;
}
.portfolio-content > aside > ul > li:nth-child(4) {
    animation-delay: 0.8s;
}

.portfolio-content > aside > ul > li > a {
    text-decoration: none;
    color: white;
    background: black;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    width: 200px;
}

.portfolio-content > aside > ul > li > a:hover {
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);
    color: black;
    font-weight: bold;
    display: inline-block;
    width: 220px;
}

main > div {
    position: relative;
    top: 0;
    left: 0;
    height: 650px;
}

main > div:nth-child(2),
main > div:nth-child(3),
main > div:nth-child(4),
main > div:nth-child(5) {
    display: none;
}

main > div > .ui-ux-h2,
main > div > .develop-h2,
main > div > .ass-h2,
main > div > .doc-h2,
main > div > .game-h2 {
    text-align: center;
    color: white;
    padding: 20px;

}

#ui-ux-projects, #development-projects, #assignments, #games, #docs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 340px;
    position: relative;
    top: 10px;
}

#ui-ux-projects > div,
#development-projects > div,
#assignments > div,
#games > div,
#docs > div {
    position: relative;
    width: 200px;
    border: 5px solid white;
    text-align: center;
    height: 280px;
    background: #FF885B;
    border-radius: 30px;
    left: 50px;
    right: 50px;
    margin-bottom: 20px;
    animation: fadeUp 1s ease;
}
#ui-ux-projects > div:nth-child(1) {
    animation-delay: 0.2s;
}
#ui-ux-projects > div:nth-child(2) {
    animation-delay: 0.4s;
}

#ui-ux-projects > div > img,
#development-projects > div > img,
#assignments > div > img,
#games > div > img,
#docs > div > img {
    position: relative;
    top: 10px;
    width: 150px;
    height: 120px;
    border-radius: 15px;
    border: 2px solid black;
}

#ui-ux-projects > div > h3,
#development-projects > div > h3,
#assignments > div > h3,
#games > div > h3,
#docs > div > h3 {
    position: relative;
    top: 30px;
    color: black;
    text-align: center;
}

#ui-ux-projects > div > a,
#development-projects > div > a,
#assignments > div > a,
#games > div > a,
#docs > div > a {
    position: relative;
    text-decoration: none;
    top: 50px;
    font-size: 20px;
    color: white;
    background: black;
    border-radius: 10px;
    border: 3px solid white;
    display: inline-block;
    width: 120px;
    padding: 5px;

}
#ui-ux-projects > div:hover,
#development-projects > div:hover,
#assignments > div:hover,
#games > div:hover,
#docs > div:hover{
    transform: scale(1.05);
    animation: transform 0.3s ease;
}

#ui-ux-projects > div > a:hover,
#development-projects > div > a:hover,
#assignments > div > a:hover,
#games > div > a:hover,
#docs > div > a:hover {
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);
    color: black;
    border: black 3px solid;
    font-weight: bold;
}

#service{
    position: relative;
    top: 300px;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    background: #36383B;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    gap: 30px;
}
#service > h2 {
    text-align: center;
    font-size: 35px;
    color: white;
    padding-top: 10px;

}
#service > .service-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
#service > .service-content > div {
    text-align: center;
    border: 3px solid #FF885B;
    height: 450px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
    top: 50px;
    background: #DAE1E7;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #FF885B;
}
#service > .service-content > div > img {
    width: 150px;
    position: relative;
    top: 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #FF885B;

}
#service > .service-content > div > h3 {
    font-size: 25px;
    position: relative;
    top: 50px;
    color: black;
    font-weight: bold;
    text-align: center;
}
#service > .service-content > div > p {
    position: relative;
    top: 60px;
    font-size: 18px;
    color: black;
    margin-left: 5px;
    margin-right: 5px;

}

/*Animations*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}



@keyframes fadeInRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes fadeUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/*Responsive*/
@media (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        padding: 30px 20px;
        text-align: center;
        align-items: center;
    }

    .text-content {
        text-align: center;
        align-items: center;
    }

    .text-content h1 {
        font-size: 2rem;
    }

    .text-content p {
        font-size: 1rem;
    }

    .image-content {
        margin-bottom: 20px;
    }

    #about {
        flex-direction: column;
        padding: 50px 20px;
        text-align: center;
        position: relative;
        top: 40px;
    }

    #main-content {
        font-size: 2rem;
    }

    .header {
        position: relative;
        top: 0;
        flex-direction: column;
        padding: 10px;
        height: 75px;
        text-align: center;
        align-items: center;
        justify-content: center;


    }

    .header > nav > ul {
        display: none;
    }

    .header > img {
        position: absolute;
        left: 30px;
        top: 15px;
        width: 40px;
    }

    #menu-bar {
        display: block;
        position: absolute;
        right: 30px;
    }


    #main-content > h2 {
        font-size: 1.9rem;

    }

    #main-content > h1 {
        margin-top: 10px;
        font-size: 2.3rem;

    }

    #main-content > p {
        font-size: 0.8rem;
        margin-bottom: 50px;
        color: white;
    }

    #main-content > a {
        font-size: 1.2rem;
    }

    button {
        width: 200px;

    }

    #skills {
        margin-top: -50px;
    }

    .skills-content > div > .java-content > .language,
    .skills-content > div > .sql-content > .language,
    .skills-content > div > .html-content > .language,
    .skills-content > div > .css-content > .language,
    .skills-content > div > .js-content > .language,
    .skills-content > div > .git-content > .language,
    .skills-content > div > .ui-ux-content > .language,
    .skills-content > div > .python-content > .language {
        width: 80px;
        height: 12%;
    }

    .skills-content > div > .java-content > .language > p,
    .skills-content > div > .sql-content > .language > p,
    .skills-content > div > .html-content > .language > p,
    .skills-content > div > .css-content > .language > p,
    .skills-content > div > .js-content > .language > p,
    .skills-content > div > .git-content > .language > p,
    .skills-content > div > .ui-ux-content > .language > p,
    .skills-content > div > .python-content > .language > p {
        font-size: 12px;
    }

    .skills-content > div > .java-content > .arrow-head,
    .skills-content > div > .html-content > .arrow-head,
    .skills-content > div > .js-content > .arrow-head,
    .skills-content > div > .ui-ux-content > .arrow-head {
        left: 80px;
        top: 40%;
        border-top: 16px solid transparent;
        border-left: 50px solid gray;
        border-bottom: 16px solid transparent;
    }

    .skills-content > div > .sql-content > .arrow-head,
    .skills-content > div > .css-content > .arrow-head,
    .skills-content > div > .git-content > .arrow-head,
    .skills-content > div > .python-content > .arrow-head {
        right: 80px;
        top: 40.5%;
        border-top: 15px solid transparent;
        border-right: 50px solid gray;
        border-bottom: 15px solid transparent;
    }

    .skills-content > div > .java-content > .outer-circle,
    .skills-content > div > .html-content > .outer-circle,
    .skills-content > div > .js-content > .outer-circle,
    .skills-content > div > .ui-ux-content > .outer-circle {
        left: 128px;
        width: 100px;
        height: 100px;
        top: 50px;
    }

    .skills-content > div > .sql-content > .outer-circle,
    .skills-content > div > .css-content > .outer-circle,
    .skills-content > div > .git-content > .outer-circle,
    .skills-content > div > .python-content > .outer-circle {
        right: 128px;
        width: 100px;
        height: 100px;
        top: 50px;

    }

    .skills-content > div > .java-content > .outer-circle > .inner-circle,
    .skills-content > div > .sql-content > .outer-circle > .inner-circle,
    .skills-content > div > .html-content > .outer-circle > .inner-circle,
    .skills-content > div > .css-content > .outer-circle > .inner-circle,
    .skills-content > div > .js-content > .outer-circle > .inner-circle,
    .skills-content > div > .git-content > .outer-circle > .inner-circle,
    .skills-content > div > .ui-ux-content > .outer-circle > .inner-circle,
    .skills-content > div > .python-content > .outer-circle > .inner-circle {
        width: 90px;
        height: 90px;
    }

    .skills-content > div > .java-content > .outer-circle > .inner-circle > img,
    .skills-content > div > .sql-content > .outer-circle > .inner-circle > img,
    .skills-content > div > .html-content > .outer-circle > .inner-circle > img,
    .skills-content > div > .css-content > .outer-circle > .inner-circle > img,
    .skills-content > div > .js-content > .outer-circle > .inner-circle > img,
    .skills-content > div > .git-content > .outer-circle > .inner-circle > img,
    .skills-content > div > .ui-ux-content > .outer-circle > .inner-circle > img,
    .skills-content > div > .python-content > .outer-circle > .inner-circle > img {
        width: 50px;
    }

    .portfolio-content {
        grid-template-columns: repeat(1, 1fr);

    }

    .portfolio-content > aside {
        min-width: 200px;
        border: none;

    }

    .doc{
        position: relative;
        left:50%;

    }

    .portfolio-content > main {
        min-width: 300px;

    }

    .portfolio-content > aside > h1 {
        font-size: 30px;
        position: relative;
        top:-30px;
    }

    .portfolio-content > aside > ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        top: -80px;

    }

    .portfolio-content > aside > ul > li {
        top: 50px;
        padding-bottom: 20px;
    }

    .portfolio-content > aside > ul > li > a {
        width: 160px;
        font-size: 12px;
        margin-right: 5px;
        margin-left: 5px;

    }

    .portfolio-content > aside > ul > li > a:hover {
        width: 160px;
    }

    main > div {
        position: relative;
        top: -50px;
        left: 0;
        height: 1200px;
    }

   /* main > div:nth-child(2),
    main > div:nth-child(3),
    main > div:nth-child(4),
    main > div:nth-child(5) {
        display: none;
    }*/


    #ui-ux-projects, #development-projects, #assignments, #games, #docs {
        grid-template-columns: repeat(1, 1fr);
    }

    #ui-ux-projects > div,
    #development-projects > div,
    #assignments > div,
    #games > div,
    #docs > div {
        left: 70px;
    }


    #ui-ux-projects > div > a,
    #development-projects > div > a,
    #assignments > div > a,
    #games > div > a,
    #docs > div > a {
        font-size: 15px;
        width: 100px;

    }



}


