* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home, .about-section , #portfolio {
    background: #1A1A1D;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    min-width: 300px;
    min-height: 500px;
    /*overflow-x:hidden;*/
}
.container {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    width: 100%;
    height: 100vh;
}
.container > div:nth-child(1), .container > div:nth-child(2) {
    width: 50vw;
    text-align: left;
    justify-content: left;
    position: relative;
    top: 0;
}
.container > div:nth-child(1) > h1 {
    position: relative;
    font-size: 64px;
    top: 80px;
    color: white;
    padding-left: 150px;


}

.container > div:nth-child(1) > p {
    color: white;
    position: relative;
    font-size: 30px;
    top: 100px;
    padding-left: 150px;

}

.container > div:nth-child(1) > p > .highlight {
    font-size: 40px;
    font-weight: bold;
    color: #FF885B;

}

.container > div:nth-child(1) > a {
    padding-left: 150px;
}

.container > div:nth-child(1) > a > button {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    top: 180px;
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);
    padding: 10px;
    border-radius: 15px;
    border: 2px black solid;
    width: 242px;


}

.container > div:nth-child(1) > a > button:hover {
    background: linear-gradient(45deg,  #FF5B8A, #FF00FF,#FF885B);

}

.container > div:nth-child(2) > img {
    position: relative;
    top: 100px;
    width: 70%;
    height: auto;
    padding-left: 50px;
}

/*------------------------------HEADER--------------------------------*/
.header {
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    background: #36383B;
    z-index: 10;

}

.header > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    margin: 10px;

}

.header > nav > ul {
    display: flex;
    text-align: center;
    justify-content: center;
}

.header > nav > ul li {
    list-style: none;
    text-align: center;
    padding: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.header > nav > ul > li > a {
    display: inline-block;
    text-align: center;
    width: 150px;
    color: black;
    text-decoration: none;
    position: relative;
    top: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    border-bottom: 2px black solid;
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);

}

.header > nav > ul > li > a:hover {
    background: linear-gradient(45deg,  #FF5B8A, #FF00FF,#FF885B);
    border: 1px solid wheat;
}

.header > nav > ul > li > select {
    display: inline-block;
    text-align: center;
    width: 150px;
    background: transparent;
    color: black;
    text-decoration: none;
    position: relative;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 2px black solid;
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);
}

.header > nav > ul > li > select:hover {
    background: linear-gradient(45deg,  #FF5B8A, #FF00FF,#FF885B);
    color: black;
    border: 1px solid wheat;
}

.header > nav > ul > li > select > option {
    color: black;
    text-decoration: none;
    background: #0B8793;
    font-weight: bold;
    border: none;
    width: 100%;
}

#menu-bar {
    position: absolute;
    right: 2vw;
    top: 4vh;
    display: none;
}

#about {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    width: 100%;
    height: 100vh;
}

#about > div:nth-child(1), #about > div:nth-child(2) {
    text-align: left;
    justify-content: left;
    position: relative;
    top: 10vh;
}

#about > div:nth-child(1) {
    width: 30vw;
}

#about > div:nth-child(2) {
    width: 70vw;
}

#about > div:nth-child(1) > img {
    position: relative;
    top: 80px;
    width: 350px;
    height: auto;
    margin-left: 120px;
    border-radius: 15px;
    border-right: 2px black solid;
    border-bottom: 2px black solid;
    overflow: hidden;
}

#about > div:nth-child(2) > h2 {
    position: relative;
    font-size: 50px;
    top: 120px;
    color: whitesmoke;
    padding-left: 150px;
}

#about > div:nth-child(2) > h1 {
    position: relative;
    font-size: 80px;
    top: 60px;
    color: whitesmoke;
    padding-left: 150px;
}

#about > div:nth-child(2) > p {
    color: whitesmoke;
    position: relative;
    font-size: 20px;
    top: 50px;
    padding-left: 150px;
    padding-right: 30px;
}

#about > div:nth-child(2) > a {
    padding-left: 150px;
}

#about > div:nth-child(2) > a > button {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    top: 100px;
    padding: 10px;
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);
    border-radius: 15px;
    border: 2px black solid;
    width: 242px;
}

#about > div:nth-child(2) > a > button:hover {
    background: linear-gradient(45deg,  #FF5B8A, #FF00FF,#FF885B);
}

hr{
   border: 1px #FF885B solid;
}

/*------------------------------------SKILLS------------------------*/
#skills{
    background: #1A1A1D;
    position: relative;
    width: 100%;
    height: 1000px;
    display: flex;
    min-width: 300px;
    min-height: 500px;


}
.skills-content {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 1000vh;

}
.skills-content > div{
   margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 100vh;

}
.skills-content > div > .vertical-line {
    width: 1%;
    border: 1px solid wheat;
    background: wheat;
    height: 900px;
    border-radius: 15px;

}
.skills-content > div > .java-content,
.skills-content > div > .sql-content,
.skills-content > div > .html-content,
.skills-content > div > .css-content,
.skills-content > div > .js-content,
.skills-content > div > .git-content,
.skills-content > div > .ui-ux-content,
.skills-content > div > .python-content{
    display: flex;
    width: 50%;
    height: 200px;
    position: absolute;
}

.skills-content > div > .java-content {
    top: 0;
    left: 50%;


}
.skills-content > div > .sql-content {
    top:100px;
    right: 50%;

}
.skills-content > div > .html-content {
    top: 200px;
    left: 50%;

}
.skills-content > div > .css-content {
    top: 300px;
    right: 50%;

}
.skills-content > div > .js-content {
    top:400px;
    left: 50%;

}
.skills-content > div > .git-content {
    top:500px;
    right: 50%;

}
.skills-content > div > .ui-ux-content {
    top: 600px;
    left: 50%;

}
.skills-content > div > .python-content {
    top: 700px;
    right: 50%;

}
.skills-content > div > .java-content > .language,
.skills-content > div > .html-content > .language,
.skills-content > div > .js-content > .language,
.skills-content > div > .ui-ux-content > .language
{
    position: absolute;
    top:42%;
    bottom: 10%;
    left: 0;
    width: 50%;
    height: 13%;
    background: gray;
    border-right: none;
    border-radius: 10px 0 0 10px;
}
.skills-content > div > .sql-content > .language,
.skills-content > div > .css-content > .language,
.skills-content > div > .git-content > .language,
.skills-content > div > .python-content > .language
{
    position: absolute;
    top:42%;
    bottom: 10%;
    right: 0;
    width: 50%;
    height: 13%;
    background: gray;
    border-left: none;
    border-radius: 0 10px 10px 0;
}

.skills-content > div > .java-content > .language > p,
.skills-content > div > .sql-content > .language > p,
.skills-content > div > .html-content > .language > p,
.skills-content > div > .css-content > .language > p,
.skills-content > div > .js-content > .language > p,
.skills-content > div > .git-content > .language > p,
.skills-content > div > .ui-ux-content > .language > p,
.skills-content > div > .python-content > .language > p
{
    color: black;
    position: relative;
    top: 15%;
    font-size: 18px;
    font-weight: bold;
}

.skills-content > div > .java-content >  .arrow-head,
.skills-content > div > .html-content >  .arrow-head,
.skills-content > div > .js-content >  .arrow-head,
.skills-content > div > .ui-ux-content >  .arrow-head
{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 50px solid gray;
}

.skills-content > div > .sql-content >  .arrow-head,
.skills-content > div > .css-content >  .arrow-head,
.skills-content > div > .git-content >  .arrow-head,
.skills-content > div > .python-content >  .arrow-head
{
    position: absolute;
    top: 40%;
    right: 50%;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-right: 50px solid gray;
    border-bottom: 17px solid transparent;
}
.skills-content > div > .java-content > .outer-circle,
.skills-content > div > .html-content > .outer-circle,
.skills-content > div > .js-content > .outer-circle,
.skills-content > div > .ui-ux-content > .outer-circle
{
    position: absolute;
    top: 8%;
    left: 60%;
    width:150px;
    height: 150px;
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);
    border-radius: 50%;
}
.skills-content > div > .sql-content > .outer-circle,
.skills-content > div > .css-content > .outer-circle,
.skills-content > div > .git-content > .outer-circle,
.skills-content > div > .python-content > .outer-circle
{
    position: absolute;
    top: 8%;
    right: 60%;
    width:150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, #FF885B, #FFB05B, #FF5B8A);
}

.skills-content > div > .java-content > .outer-circle > .inner-circle ,
.skills-content > div > .sql-content > .outer-circle > .inner-circle,
.skills-content > div > .html-content > .outer-circle > .inner-circle,
.skills-content > div > .css-content > .outer-circle > .inner-circle,
.skills-content > div > .js-content > .outer-circle > .inner-circle,
.skills-content > div > .git-content > .outer-circle > .inner-circle,
.skills-content > div > .ui-ux-content > .outer-circle > .inner-circle,
.skills-content > div > .python-content > .outer-circle > .inner-circle{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width:130px;
    height: 130px;
    background:#1A1A1D ;
    border-radius: 50%;
}

.skills-content > div > .java-content > .outer-circle > .inner-circle > img,
.skills-content > div > .sql-content > .outer-circle > .inner-circle > img,
.skills-content > div > .html-content > .outer-circle > .inner-circle > img,
.skills-content > div > .css-content > .outer-circle > .inner-circle > img,
.skills-content > div > .js-content > .outer-circle > .inner-circle > img,
.skills-content > div > .git-content > .outer-circle > .inner-circle > img,
.skills-content > div > .ui-ux-content > .outer-circle > .inner-circle > img,
.skills-content > div > .python-content > .outer-circle > .inner-circle > img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width:80px;
}

#portfolio{
    background: #1A1A1D;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    min-width: 300px;
    min-height: 500px;
}
.portfolio-content{
    display: flex;
    width: 100%;
    height: 100%;
}
.portfolio-content > aside{
    position: relative;
    top:0;
    left:0;
    width: 20%;
    border: 1px solid white;
}
.portfolio-content > main{
    position: relative;
    top:0;
    left:0;
    width: 80%;
    border: 1px solid white;
}
.portfolio-content > aside > h1{
    text-align: center;
    font-size: 35px;
    color: white;
}
.portfolio-content > aside > ul{
    position: relative;
    text-align: center;


}
.portfolio-content > aside > ul > li{
    position: relative;
    top: 50px;
    padding-bottom: 50px;
}
.portfolio-content > aside > ul > li > a{
    text-decoration: none;
    color: white;
    background: green;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    width: 200px;

}
main > h2{
    text-align: center;
    color: white;
    padding: 20px;
}
#ui-ux-projects{
    /*display: none;*/
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 340px;
   position: relative;
    top: 90px;
}

#ui-ux-projects > div:nth-child(1),
#ui-ux-projects > div:nth-child(2),
#ui-ux-projects > div:nth-child(3),
#ui-ux-projects > div:nth-child(4){
    position: relative;
    width: 200px;
    border: 5px solid white;
    text-align: center;
    top: 20px;
    height: 300px;
    background: #FF885B;
    border-radius: 30px;
    left: 50px;
    right: 50px;
}

#ui-ux-projects > div:nth-child(1) > img,
#ui-ux-projects > div:nth-child(2) > img,
#ui-ux-projects > div:nth-child(3) > img,
#ui-ux-projects > div:nth-child(4) > img
{
    position: relative;
    top: 10px;
   width: 150px;
    height: 120px;
    border-radius: 15px;
    border: 2px solid black;
}
#ui-ux-projects > div:nth-child(1) > h3,
#ui-ux-projects > div:nth-child(2) > h3,
#ui-ux-projects > div:nth-child(3) > h3,
#ui-ux-projects > div:nth-child(4) > h3
{
    position: relative;
    top: 30px;
    color: black;
    text-align: center;
}
#ui-ux-projects > div:nth-child(1) > a,
#ui-ux-projects > div:nth-child(2) > a,
#ui-ux-projects > div:nth-child(3) > a,
#ui-ux-projects > div:nth-child(4) > a
{
    position: relative;
    text-decoration: none;
    top: 50px;
    font-size: 20px;
    color: white;
    background: black;
    border-radius: 10px;
    border: 3px solid white;
    display: inline-block;
    width: 120px;
    padding: 5px;

}




















/*-----------------------------MEDIA------------------------------------*/
@media all and (max-width: 500px) {
    .home {
        min-width: 300px;
        min-height: 500px;
    }

    .container {
        grid-template-columns:1fr;
        width: 100%;
    }

    .container > div:nth-child(1), .container > div:nth-child(2) {
        width: 100vw;
        height: 100%;
        text-align: center;
        justify-content: center;

    }

    .container > div:nth-child(1) > h1 {
        font-size: 40px;
        top: 10px;
        padding: 10px;
    }

    .container > div:nth-child(1) > p {
        font-size: 20px;
        top: 10px;
        padding: 10px;
    }

    .container > div:nth-child(1) > p > .highlight {
        font-size: 25px;
    }

    .container > div:nth-child(1) > a {
        padding-left: 0;
    }

    .container > div:nth-child(1) > a > button {
        top: 30px;
        padding: 5px;
        font-size: 16px;
        width: 150px;
    }

    .container > div:nth-child(2) > img {
        top: 15px;
        margin: auto;
        padding-left: 0;
    }

    .about-section {
        min-width: 300px;
        min-height: 500px;
    }

    .header {
        height: 8vh;
    }

    .header > nav > ul {
        display: none;
    }

    .header > img {
        width: 40px;
    }

    #menu-bar {
        position: absolute;
        right: 10vw;
        top: 2.5vh;
        display: block;
    }

    #about {
        grid-template-columns:1fr;
        width: 100%;
    }

    #about > div:nth-child(1), #about > div:nth-child(2) {
        width: 100vw;
        height: 100%;
        text-align: center;
        justify-content: center;
        top: 8vh;
    }

    #about > div:nth-child(1) > img {
        top: 10px;
        margin: auto;
        width: 200px;

    }

    #about > div:nth-child(2) > h2 {
        font-size: 30px;
        padding: 0;
        top: -50px;

    }

    #about > div:nth-child(2) > h1 {
        font-size: 40px;
        padding: 0;
        top: -50px;
    }

    #about > div:nth-child(2) > p {
        font-size: 20px;
        padding: 0;
        top: -50px;
    }

    #about > div:nth-child(2) > a {
        padding-left: 0;
    }

    #about > div:nth-child(2) > a > button {
        top: 0;
        width: 200px;
        font-size: 18px;
    }

    .skills-content > div > .java-content > .language,
    .skills-content > div > .sql-content > .language ,
    .skills-content > div > .html-content > .language ,
    .skills-content > div > .css-content > .language ,
    .skills-content > div > .js-content > .language ,
    .skills-content > div > .git-content > .language ,
    .skills-content > div > .ui-ux-content > .language ,
    .skills-content > div > .python-content > .language
    {
        width: 30%;
        height: 12%;
    }
    .skills-content > div > .java-content > .language > p,
    .skills-content > div > .sql-content > .language > p,
    .skills-content > div > .html-content > .language > p,
    .skills-content > div > .css-content > .language > p,
    .skills-content > div > .js-content > .language > p,
    .skills-content > div > .git-content > .language > p,
    .skills-content > div > .ui-ux-content > .language > p,
    .skills-content > div > .python-content > .language > p{
        font-size: 12px;
    }
    .skills-content > div > .java-content >  .arrow-head,
    .skills-content > div > .html-content >  .arrow-head,
    .skills-content > div > .js-content >  .arrow-head,
    .skills-content > div > .ui-ux-content >  .arrow-head
    {
        left: 30%;
        top: 40%;
        border-top: 16px solid transparent;
        border-left: 50px solid gray;
        border-bottom: 16px solid transparent;
    }
    .skills-content > div > .sql-content >  .arrow-head,
    .skills-content > div > .css-content >  .arrow-head,
    .skills-content > div > .git-content >  .arrow-head,
    .skills-content > div > .python-content >  .arrow-head{
        right: 30%;
        border-top: 15px solid transparent;
        border-right: 50px solid gray;
        border-bottom: 15px solid transparent;
    }

    .skills-content > div > .java-content > .outer-circle ,
    .skills-content > div > .html-content > .outer-circle ,
    .skills-content > div > .js-content > .outer-circle ,
    .skills-content > div > .ui-ux-content > .outer-circle
     {
        top: 22%;
        left: 50%;
        width:100px;
        height: 100px;
        border: none;
        background: none;

    }
    .skills-content > div > .sql-content > .outer-circle ,
    .skills-content > div > .css-content > .outer-circle ,
    .skills-content > div > .git-content > .outer-circle ,
    .skills-content > div > .python-content > .outer-circle{
        top: 22%;
        right: 50%;
        width:100px;
        height: 100px;
        border: none;
        background: none;
    }
    .skills-content > div > .java-content > .outer-circle > .inner-circle ,
    .skills-content > div > .sql-content > .outer-circle > .inner-circle ,
    .skills-content > div > .html-content > .outer-circle > .inner-circle,
    .skills-content > div > .css-content > .outer-circle > .inner-circle ,
    .skills-content > div > .js-content > .outer-circle > .inner-circle ,
    .skills-content > div > .git-content > .outer-circle > .inner-circle,
    .skills-content > div > .ui-ux-content > .outer-circle > .inner-circle ,
    .skills-content > div > .python-content > .outer-circle > .inner-circle{
        width:80px;
        height: 80px;
        border: none;
        background: none;
    }




}
